# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Unit-3-Vehicle-Lab\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ethan\IdeaProjects\Unit-3-Vehicle-Lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
